[submodule "Docs"]
	path = docs
	url = https://github.com/TLSenz/Homelab_Documentation.git
	branch = main
[submodule "Terraform"]
	path = terraform
	url = https://github.com/TLSenz/Homelab_Declerative.git
        branch = main
[submodule "Inventar"]
	path = Inventar
	url = https://github.com/TLSenz/HomeLab-Lambda-CLI.git
	branch = main
